Lego RC realtime visualization.json
[
    {
        "id": "e5c6b3b8bfc1c920",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e2da312395b27df",
        "type": "mqtt in",
        "z": "e5c6b3b8bfc1c920",
        "name": "",
        "topic": "esp8266_data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "112c8b7005271206",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "576938dff48ca6e1"
            ]
        ]
    },
    {
        "id": "634e9539ac16f08c",
        "type": "ui_gauge",
        "z": "e5c6b3b8bfc1c920",
        "name": "",
        "group": "a8545fb7eacff043",
        "order": 2,
        "width": "6",
        "height": "7",
        "gtype": "gage",
        "title": "",
        "label": "km/h",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#a2d6dd",
            "#a4d421",
            "#f1f50a"
        ],
        "seg1": "2.5",
        "seg2": "2.51",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "576938dff48ca6e1",
        "type": "change",
        "z": "e5c6b3b8bfc1c920",
        "name": "set speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speed_kmh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "aaeaa296de877639",
                "2803e1bf9ed0f198"
            ]
        ]
    },
    {
        "id": "aaeaa296de877639",
        "type": "debug",
        "z": "e5c6b3b8bfc1c920",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "2803e1bf9ed0f198",
        "type": "smooth",
        "z": "e5c6b3b8bfc1c920",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "634e9539ac16f08c",
                "c6708a228d01ca2c",
                "0ef1edbe5ec73cff"
            ]
        ]
    },
    {
        "id": "c6708a228d01ca2c",
        "type": "smooth",
        "z": "e5c6b3b8bfc1c920",
        "name": "set max",
        "property": "payload",
        "action": "max",
        "count": "100",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "df7e473061de157c"
            ]
        ]
    },
    {
        "id": "0ef1edbe5ec73cff",
        "type": "smooth",
        "z": "e5c6b3b8bfc1c920",
        "name": "set min",
        "property": "payload",
        "action": "min",
        "count": "100",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "5f8a4466f9a3eb8d"
            ]
        ]
    },
    {
        "id": "df7e473061de157c",
        "type": "ui_gauge",
        "z": "e5c6b3b8bfc1c920",
        "name": "",
        "group": "760d678d69f58fea",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Max Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f8a4466f9a3eb8d",
        "type": "ui_gauge",
        "z": "e5c6b3b8bfc1c920",
        "name": "",
        "group": "1b305859b4a28c8e",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Min Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "eafc9b8a9b45785e",
        "type": "inject",
        "z": "e5c6b3b8bfc1c920",
        "name": "set to zero",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 820,
        "y": 80,
        "wires": [
            [
                "634e9539ac16f08c",
                "df7e473061de157c",
                "5f8a4466f9a3eb8d"
            ]
        ]
    },
    {
        "id": "112c8b7005271206",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "123.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "a6d768000b7c87dd",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a8545fb7eacff043",
        "type": "ui_group",
        "name": "Current Speed",
        "tab": "1228738d7631b876",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "760d678d69f58fea",
        "type": "ui_group",
        "name": "Max Speed",
        "tab": "1228738d7631b876",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b305859b4a28c8e",
        "type": "ui_group",
        "name": "Min Speed",
        "tab": "1228738d7631b876",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6d768000b7c87dd",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1228738d7631b876",
        "type": "ui_tab",
        "name": "Lego Speed",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]